.tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    max-width: 400px;
    max-height: 400px;
}

.tile::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.tile > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.tile > * {
    border: 3px white solid;
}
